<h4>Edit Tournament</h4>

<% provide(:title, 'Edit Tournament') %>

<div class="row">
  <div class="card-panel">
    <div class="col s12 m4 l3"></div>
    <%= form_for(:tournament,  :url => {:action => 'update'}, :method => 'put') do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :name, id: "tournament_name" %>
            <%= f.label :name %>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_area :description, cols: "30", rows: "10", id: "tournament_description" %>
            <%= f.label :description %>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">
          <div class="input-field col s6">
            <select id="tournament_status_list">
              <% @tournaments_type.each do |type| %>
                  <% if :tournament_type_id == type.id %>
                  <option selected value="<%= type.id %>"><%= type.name %></option>
                  <% else %>
                      <option value="<%= type.id %>"><%= type.name %></option>
                  <% end %>
              <% end %>
            </select>
            <%= f.hidden_field :tournament_type_id, id: "tournament_type_id" %>
            <label>Status Tournament</label>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">
          <div class="input-field col s6">
            <select id="tournament_status_list">
              <% @tournament.teams.each do |team| %>
                    <option value="<%= team.id %>"><%= team.name %></option>
              <% end %>
            </select>
            <%= f.hidden_field :id, id: "tournament_id" %>
            <label>Appoint a Team</label>
          </div>
        </div>
        <%= f.submit  "Update", class: "btn waves-effect waves-light" %>
    <% end %>
    <div class="col s12 m4 l3"></div>
  </div>
</div>