<h4>Edit Tournament</h4>

<% provide(:title, 'Edit Tournament') %>

<div class="row">
  <div class="card-panel">
    <div class="col s12 m4 l3"></div>
    <%= form_for(:tournament,  :url => {:action => 'update'}, :method => 'put') do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :name, id: "tournament_name" %>
            <%= f.label :name %>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_area :description, cols: "30", rows: "10", id: "tournament_description" %>
            <%= f.label :description %>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">
          <div class="input-field col s6">
            <select id="tournament_status_list">
              <% @tournaments_type.each do |type| %>
                  <% if :tournament_type_id == type.id %>
                  <option selected value="<%= type.id %>"><%= type.name %></option>
                  <% else %>
                      <option value="<%= type.id %>"><%= type.name %></option>
                  <% end %>
              <% end %>
            </select>
            <%= f.hidden_field :tournament_type_id, id: "tournament_type_id" %>
            <label>Status Tournament</label>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">


          <table class="bordered">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Player1</th>
              <th>Player2</th>
              <th colspan="2" aria-valuetext="center">Appoint a Team</th>
            </tr>
            </thead>
            <% @teams =  Tournament.with_teams %>
            <% @teams.each do |team| %>
                <tr>
                  <td><%= link_to team.name, :action => 'show', :id => team.id %></td>
                  <td width="40%"><%= team.description %> </td>
                  <td><%= full_name_player team.first_player %></td>
                  <td><%= full_name_player team.second_player %></td>
                  <td><%= link_to 'Add', {:action => 'addTeamToTournament'}, :id => @tournament.id %></td>

                </tr>
            <% end %>
          </table>
          <br />

        </div>
        <%= f.submit  "Update", class: "btn waves-effect waves-light" %>
    <% end %>
    <div class="col s12 m4 l3"></div>
  </div>
</div>