<h4>New Tournament</h4>

<% provide(:title, 'New Tournament') %>

<div class="row">
  <div class="card-panel">
    <div class="col s12 m4 l3"></div>
       <%= form_for(:tournament,  :url => {:action => 'create'}) do |f| %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :name, id: "tournament_name" %>
            <%= f.label :name %>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_area :description, id: "tournament_description" %>
            <%= f.label :description %>
          </div>
        </div>
        <div class="col s12 m4 l3"></div>
        <div class="row">
          <div class="input-field col s6">
            <select>
              <option value="" disabled selected>Choose status tournament</option>
              <% @tournaments_type.each do |type| %>
                  <option value="<%= type.id %>"><%= type.name %></option>
              <% end %>
            </select>
            <label>Materialize Select</label>
          </div>
        </div>
        <%= f.submit  "Create", class: "btn waves-effect waves-light" %>
    <% end %>
    <div class="col s12 m4 l3"></div>
  </div>
</div>