<% provide(:title, 'Teams') %>
<div class="row">
  <div class="card-panel">

    <h1>Teams</h1>

    <%= form_for(:team,  :url => {:action => 'index'}, :method => 'get') do |f| %>
        <div class="row">
          <div class="input-field col s3">
            <%= f.text_field :team_name, id: "team_name_filter" %>
            <%= f.label :team_name %>
          </div>
          <div class="input-field col s3">
            <%= f.text_field :player_name, id: "player_name_filter" %>
            <%= f.label :player_name %>
          </div>
          <div class="input-field col s3">
            <%= f.submit  "Search", class: "btn waves-effect waves-light" %>
          </div>
        </div>
    <% end %>

    <table class="bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Player1</th>
        <th>Player2</th>
      </tr>
      </thead>
      <% @current_team = current_team %>
      <% @teams.each do |team| %>
          <tr>
            <% if team.id == @current_team.ids.first %>
                <td><%= link_to team.name, {:controller => 'teams', :action => 'showTeamCurrentUser', :id => team.id} %></td>
            <% else %>
                <td><%=  team.name %></td>
            <% end %>
            <td width="40%"><%= team.description %> </td>
            <td><%= full_name_player team.first_player %></td>
            <td><%= full_name_player team.second_player %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>