<h4>Edit Match</h4>

<% provide(:title, 'Edit') %>

<div class="row">
  <div class="card-panel">
    <%= form_for(:match,  :url => {:action => 'update'}, :method => 'put') do |f| %>
        <div class="row">

          <div class="input-field col s3">

                <span id="team1_name"><%= first_team_with_players_name @match %></span>
          </div>

          <div class="input-field col s1">
            <%= f.text_field :team1_score, id:"match_team1_score" %>
            <%= f.label :team1_score %>
          </div>
          <div class="input-field col s2">
            <%= f.text_field :team1_count_goals, id:"match_team1_count_goals" %>
            <%= f.label :team1_count_goals %>
          </div>
          <div class="input-field col s3">

            <span id="team2_name"><%= second_team_with_players_name @match  %></span>
          </div>
          <div class="input-field col s1">
            <%= f.text_field :team2_score, id:"match_team2_score" %>
            <%= f.label :team2_score %>
          </div>
          <div class="input-field col s2">
            <%= f.text_field :team2_count_goals, id:"match_team2_count_goals" %>
            <%= f.label :team2_count_goals %>
          </div>

        </div>
        <div class="col s12 m4 l3"></div>
        <%= f.submit  "Update", class: "btn waves-effect waves-light" %>
    <% end %>
    <div class="col s12 m4 l3"></div>
  </div>
</div>