<h1>Listing Matches</h1>

<table class="bordered">
  <thead>
  <tr>
    <th>id</th>
    <th>Team1</th>
    <th>Team2</th>
    <th>Count Matches</th>
    <th>Rounds</th>
    <th>Tournament</th>
    <th colspan="2" aria-valuetext="center">Actions</th>
  </tr>
  </thead>

  <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.id, :action => 'show', :id => match.id %></td>
        <td><%= link_to match.first_team.name, :action => 'show', :id => match.first_team.id %></td>
        <td><%= link_to match.second_team.name, :action => 'show', :id => match.second_team.id %></td>
        <td><%= count_matches(match.first_team.id, match.second_team.id) %></td>
        <td><%= link_to match.round_id, :action => 'show', :id => match.round_id %></td>
        <td><%= link_to 'link' + match.tournament_id.to_s, :action => 'show', :id => match.tournament_id %></td>
        <td><%= link_to 'Edit', :action => 'edit', :id => match.id %></td>
        <td><%= link_to 'Destroy', {:action => 'destroy', :id => match.id}, :confirm => 'Are you sure?', :method => :post %></td>
      </tr>
  <% end %>
</table>
<br />
<%= link_to 'Generate Matches', {action: 'new'}, {class: "waves-effect waves-light btn"}  %>
<div class="fixed-action-btn">
  <%= link_to '<i class="material-icons">add</i>'.html_safe, {action: 'new'},{class: "btn-floating btn-large waves-effect waves-light red"}   %>
</div>


