<h1>Listing Matches</h1>

<div class="row">
  <div class="card-panel">
    <div class="col s12 m4 l3"></div>
    <%= form_for(:match,  :url => {:action => 'index'}, :method => 'get') do |f| %>
        <div class="row">
          <div class="input-field col s3">
            <%= f.text_field :team_name, id: "team_name_filter" %>
            <%= f.label :team_name %>
          </div>
          <div class="input-field col s3">
            <%= f.text_field :player_name, id: "player_name_filter" %>
            <%= f.label :player_name %>
          </div>
        </div>
        <%= f.submit  "Search", class: "btn waves-effect waves-light" %>
    <% end %>
    <div class="col s12 m4 l3"></div>
  </div>
</div>


<table class="bordered">
  <thead>
  <tr>
    <th>id</th>
    <th>Team1</th>
    <th>Team2</th>
    <th>Count Matches</th>
    <th>Rounds</th>
    <th>Tournament</th>
    <th>Score</th>
    <th colspan="2" aria-valuetext="center">Actions</th>
  </tr>
  </thead>

  <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.id, :action => 'show', :id => match.id %></td>
        <td><%= link_to match.first_team.name, :action => 'show', :id => match.first_team.id %></td>
        <td><%= link_to match.second_team.name, :action => 'show', :id => match.second_team.id %></td>
        <td><%= count_matches(match.first_team.id, match.second_team.id) %></td>
        <td><%= link_to match.round.name, :action => 'show', :id => match.round_id %></td>
        <td><%= link_to match.tournament.name, :action => 'show', :id => match.tournament_id %></td>
        <td><%= match.team1_score.to_s + ':' + match.team2_score.to_s %></td>
        <td><%= link_to 'Edit', :action => 'edit', :id => match.id %></td>
        <td><%= link_to 'Destroy', {:action => 'destroy', :id => match.id}, :confirm => 'Are you sure?', :method => :post %></td>
      </tr>
  <% end %>
</table>
<br />
<%= link_to 'Generate Matches', {action: 'generate'}, {class: "waves-effect waves-light btn"}  %>
<div class="fixed-action-btn">
  <%= link_to '<i class="material-icons">add</i>'.html_safe, {action: 'new'},{class: "btn-floating btn-large waves-effect waves-light red"}   %>
</div>


