<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Champ Football" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Champ Football" %>">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<% if signed_in_as_admin? %>
  <header id="header" class="page-topbar">
    <%= render 'layouts/admin/navigation' %>
  </header>
  <!--<main role="main">-->

    <div id="main">
      <div class="wrapper">
        <%= render 'layouts/admin/sidebar' %>
        <%= yield %>
      </div>
    </div>

  <!--</main>-->
  <footer class="page-footer">
    <%= render 'layouts/admin/footer' %>
  </footer>
<% end %>
<% unless signed_in_as_admin? %>
    <%= render 'layouts/admin/login' %>
<% end %>
</body>
</html>
