<!--место | название команды | коли-во сыгранных игр | кол-во побед | кол-во поражений | забитые — пропущенные голы | разница голов | очки-->

<h1>Standings</h1>

<table class="bordered">
  <thead>
  <tr>
    <th>Position</th>
    <th>Name team</th>
    <th>Number of games played</th>
    <th>Number of wins</th>
    <th>Number of lesions</th>
    <th>Scoring - goals conceded</th>
    <th>Goal difference</th>
    <th>Points</th>
    <th colspan="2" aria-valuetext="center">Action</th>
  </tr>
  </thead>
  <% @teams.each do |team| %>
      <% @standings = Team.standings(team.id).first %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.name %></td>
        <td><%= @standings.count_matches_all %></td>
        <td><%= @standings.team_count_wins1.to_i + @standings.team_count_wins2.to_i %></td>
        <td><%= @standings.count_matches_lose1.to_i + @standings.count_matches_lose2.to_i %></td>
        <td><%= (@standings.all_team1_score.to_i + @standings.all_team2_score.to_i).to_s + ' - ' + (@standings.all_missed_goals1.to_i + @standings.all_missed_goals2.to_i).to_s %></td>
        <td><%= (@standings.all_team1_score.to_i + @standings.all_team2_score.to_i).to_i  - (@standings.all_missed_goals1.to_i + @standings.all_missed_goals2.to_i).to_i %></td>
        <td><%=  @standings.all_team1_score.to_i + @standings.all_team2_score.to_i %></td>
        <td><%= link_to 'Edit', :action => 'edit', :id => team.id %></td>
        <td><%= link_to 'Destroy', {:action => 'destroy', :id => team.id}, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>
<br />

