<h1>Standings</h1>
<table class="bordered">
  <thead>
  <tr>
    <th>Position</th>
    <th>Name team</th>
    <th>Number of games played</th>
    <th>Number of wins</th>
    <th>Number of lesions</th>
    <th>Scoring - goals conceded</th>
    <th>Goal difference</th>
    <th>Points</th>
  </tr>
  </thead>

  <%  @allTeam.each_with_index do |team, position| %>
      <tr>
        <td><%= position+1 %></td>
        <td><%= team["name"] %></td>
        <td><%= team["count_matches_all"] %></td>
        <td><%= team["wins"] %></td>
        <td><%= team["lose"] %></td>
        <td><%= team["score_conceded_goals"] %></td>
        <td><%= team["difference_goals"] %></td>
        <td><%= team["points"] %></td>
      </tr>
  <% end %>

</table>
<br />

